<?php

// Toggle DEBUG mode
define('DEVELOPMENT', FALSE);

// Full URL to the main page as it would be shown to the user
define('LINK', 'https://taxon.specifysoftware.org/gbif/');

// Full path to a working directory (both front-end and the back-end
// must have write access to this directory)
define('WORKING_LOCATION','/opt/taxa_tree_gbif_working_dir/');

