body {
	margin: 20px !important;
}

img {
	height: 30px;
	background: #f00; /* TODO: remove this */
	padding: 10px;
}

ul {
	list-style: none;
}

.collapsed {
	display: none;
}

.checkbox {
	width: 20px;
	height: 20px;
	display: inline;
	background: #f00;
	border: 1px solid #fff;
}

.checked > .checkbox {
	background: #0f0;
}

.mixed > .checkbox {
	background: #00f;
}

li {
	font-size: 19px;
	font-family: 'Calibri', sans-serif;
}

.arrow {
	width: 38px;
	height: 20px;
	display: inline;
	margin-right: 5px;
	border: 1px solid #fff;
	background-color: #fff;
	background-position: center;
	background-size: contain;
}

.arrow.rotated {
	transform: rotate(180deg);
}