body, .margined_container {
	margin: 20px !important;
}


h1, h3 {
	margin: 1.5rem 0 !important;
}

img {
	height: 30px;
	background: #f00;
	padding: 10px;
}

ul {
	list-style: none;
}

li {
	font-size: 19px;
	font-family: 'Calibri', sans-serif;
}


.collapsed {
	display: none;
}

/* Checkboxes */
.checkbox {
	width: 20px;
	height: 20px;
	display: inline;
	background: #f00;
	border: 1px solid #fff;
}

.checked > .checkbox {
	background: #0f0;
}

.mixed > .checkbox {
	background: #00f;
}


/* Arrows */
.arrow {
	width: 38px;
	height: 20px;
	display: inline;
	margin-right: 5px;
	border: 1px solid #fff;
	background-color: #fff;
	background-position: center;
	background-size: contain;
}

.arrow.rotated {
	transform: rotate(180deg);
}


/* Rank Labels */
span.rank_indicator:before {
	content: ' (';
}

span.rank_indicator:after {
	content: ')';
}

.shadow {
	opacity: 0.5;
}