# Should be the same value as `LINK` in ./front_end/config/required.py
site_link = 'http://localhost:80/gbif/'

# Should be the same value as `WORKING_LOCATION` in ./front_end/config/required.py
target_dir = '/Users/mambo/Downloads/sites_data/gbif/'

mysql_host = 'localhost'
mysql_user = 'root'
mysql_password = 'root'
